.navbar {
  background-color: #000; }
  @media (min-width: 768px) {
    .navbar {
      background-color: #222; } }
  @media (min-width: 992px) {
    .navbar {
      background-color: #444; } }

.nav-link {
  color: #fff; }
  @media (min-width: 576px) {
    .nav-link {
      font-size: 0.9rem; } }
  @media (min-width: 768px) {
    .nav-link {
      font-size: 1rem; } }
  @media (min-width: 992px) {
    .nav-link {
      font-size: 1.2rem; } }

.rick-roll-button {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  position: absolute;
  left: 25%;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto; }
  @media (min-width: 576px) {
    .rick-roll-button {
      font-size: 2rem;
      padding: 0.6rem 1rem; } }
  @media (min-width: 768px) {
    .rick-roll-button {
      font-size: 2.6rem;
      padding: 1rem 1.5rem; } }
  @media (min-width: 992px) {
    .rick-roll-button {
      font-size: 4rem;
      padding: 1.5rem 2rem; } }
  @media (min-width: 1920px) {
    .rick-roll-button {
      font-size: 5rem;
      padding: 2.5rem 3rem; } }

#change-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%; }

#delete-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%; }

#add-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%; }

#put-mark-form {
  border: 4px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%; }

.link-btn-txt {
  color: white; }

.corner-btn {
      		/*@include media-sm {
		    font-size: 0.75rem;
		    padding: 0.25rem 0.4rem;
		  }*/
      	/*font-size: 0.6px;
	padding: 0.65px 1.2px;*/ }
  @media (min-width: 768px) {
    .corner-btn {
      font-size: 1.2rem;
      padding: 0.4rem 0.6rem; } }
  @media (min-width: 992px) {
    .corner-btn {
      font-size: 1.5rem;
      padding: 0.6rem 0.75rem; } }
  @media (min-width: 1920px) {
    .corner-btn {
      font-size: 2rem;
      padding: 1.25rem 1.75rem; } }

.right-bottom-btn {
  bottom: 20px;
  right: 20px; }
  @media (min-width: 768px) {
    .right-bottom-btn {
      bottom: 30px;
      right: 30px; } }
  @media (min-width: 992px) {
    .right-bottom-btn {
      bottom: 45px;
      right: 45px; } }
  @media (min-width: 1920px) {
    .right-bottom-btn {
      bottom: 65px;
      right: 65px; } }

.left-top-btn {
  top: 65px;
  left: 20px; }
  @media (min-width: 768px) {
    .left-top-btn {
      top: 65px;
      left: 30px; } }
  @media (min-width: 992px) {
    .left-top-btn {
      top: 65px;
      left: 45px; } }
  @media (min-width: 1920px) {
    .left-top-btn {
      top: 65px;
      left: 65px; } }

.right-top-btn {
  top: 65px;
  right: 20px; }
  @media (min-width: 768px) {
    .right-top-btn {
      top: 65px;
      right: 30px; } }
  @media (min-width: 992px) {
    .right-top-btn {
      top: 65px;
      right: 45px; } }
  @media (min-width: 1920px) {
    .right-top-btn {
      top: 65px;
      right: 65px; } }

.left-bottom-btn {
  bottom: 20px;
  left: 20px; }
  @media (min-width: 768px) {
    .left-bottom-btn {
      bottom: 30px;
      left: 30px; } }
  @media (min-width: 992px) {
    .left-bottom-btn {
      bottom: 45px;
      left: 45px; } }
  @media (min-width: 1920px) {
    .left-bottom-btn {
      bottom: 65px;
      left: 65px; } }

.ads {
  width: 100%;
  height: 100%; }

.bottom-ads-div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25%;
  text-align: center; }

.left-ads-div {
  display: none; }
  @media (min-width: 1920px) {
    .left-ads-div {
      display: flex;
      position: absolute;
      top: 7.5%;
      left: 0;
      width: 20%;
      height: 100%;
      text-align: center; } }

.right-ads-div {
  display: none; }
  @media (min-width: 1920px) {
    .right-ads-div {
      display: flex;
      position: absolute;
      top: 7.5%;
      right: 0;
      width: 20%;
      height: 100%;
      text-align: center; } }

.right-bottom-ads-div {
  display: flex;
  position: absolute;
  left: 100;
  /*bottom: 0;*/
  right: 0;
  width: 50%;
  height: 25%;
  text-align: center; }
  @media (min-width: 1920px) {
    .right-bottom-ads-div {
      display: none; } }

.left-bottom-ads-div {
  display: flex;
  position: absolute;
  /*bottom: 0;*/
  left: 0;
  width: 50%;
  height: 25%;
  text-align: center; }
  @media (min-width: 1920px) {
    .left-bottom-ads-div {
      display: none; } }

.block-label {
  display: block; }

#confirm-put-mark-btn {
  background-color: lightgreen;
  position: absolute;
  right: 0; }

#confirm-change-btn {
  background-color: lightgreen; }

#confirm-add-btn {
  background-color: lightgreen;
  position: absolute;
  right: 0; }

/*.subject-table
{
	border: 4px solid red;
}*/

/*# sourceMappingURL=index.css.map */
