.rick-roll-button
    	{
    		font-size: 60px;
    		padding: 100px 240px;
    		position: absolute;
	   	left: 25%;
	   	top: 25%;
    		display: flex;
  		align-items: center;
  		justify-content: center;
    		text-align: center;
    		margin: auto;
    		
    	}
    	
#change-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 100%;
    }
    
    #delete-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 100%;
    }
    
    #add-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 100%;
    }

#put-mark-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 600px;
      width: 100%;
    }
    
   .link-btn-txt
      {
	color: white;
      }  
      
   .corner-btn
      {
      	font-size: 22px;
	padding: 25px 60px;
      }   
