body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
        }
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 300px;
            margin: 50px auto;
        }
        label {
            
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"], input[type="password"], select {
            border : 2px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 20px;
            font-size: 16px;
        }
        input[type="submit"] {
            border : 2px solid #ccc;
            background-color: #4CAF50;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
